/* 
COLORS:
blue: rgb(127, 194, 247);
orange:rgb(243, 156, 18);
green: rgb(44, 221, 152);
pink: rgb(255, 79, 129);
dark blue: rgb(51, 105, 230);
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.headerSpan {
  color: rgb(243, 156, 18);
  padding-left: 10px;
  border-top: 3px solid gray;
  border-left: 3px solid gray;
  border-bottom: 3px solid gray;
}

.headerSpan2 {
  color: gray;
}

.navDiv {
  background-color: rgb(127, 194, 247);
  width: 100%;
}

.navClass {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.navClass > p {
  color: white;
  text-align: center;
}

.prvaSlika {
  height: 300px;
  width: 100%;
}

.padding {
  padding: 20px;
}

.paddingBot {
  padding-bottom: 40px;
}

.paddingTop {
  padding-top: 30px;
}

.bckImage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/CSS Project Specification/assets/images/banner3.jpg");
  width: 100%;
  height: 250px;
  background-size: cover;
}

.bckImage2 {
  background-image: url("/CSS Project Specification/assets/images/about.jpg");
  height: 250px;
  width: 100%;
  background-size: cover;
}

.bckImage div > p {
  font-size: 25px;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  color: white;
  background-color: rgb(51, 105, 230);
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
}

.whoWeAre {
  font-size: 35px;
}

.whatPeopleSays {
  font-size: 35px;
}

.span-l {
  display: inline-block;
  border: 1px solid black;
  width: 50px;
  margin-right: 10px;
}

.span-m {
  display: inline-block;
  border: 2px solid black;
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
}

.span-r {
  display: inline-block;
  border: 1px solid black;
  width: 50px;
  margin-left: 10px;
}

.span-flex {
  display: flex;
  align-items: center;
}

article {
  padding-left: 30px;
  padding-right: 30px;
}

h3 {
  color: rgb(127, 194, 247);
  padding-bottom: 20px;
}

article > p {
  font-size: 13.5px;
  padding-bottom: 20px;
}

.article-font-size {
  font-size: 13.5px;
}

.article-f-col {
  color: grey;
}

.flex-article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* ------------------------ ZA KARTICE ----------------------------------------------------- */

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card {
  background-color: rgb(127, 194, 247);
  width: 85%;
  margin: 5px 0;
  padding: 15px;
  text-align: left;
}

.card-header {
  display: flex;
  align-items: center;
}

.profile-image {
  border: 2px solid white;
  padding: 2px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.card-info h3 {
  margin: 0;
}

.card-name-col {
  color: black;
  font-size: 13px;
}

.rating {
  color: white;
}

.card-text {
  color: white;
}
/* ------------------------ ZA CONTACTS----------------------------------------------------- */

.padding-left-right {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.flex-dir-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 100%;
}

.contact {
  height: 200px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 221, 152);
}

.contact-img {
  color: white;
  text-align: center;
  width: 20px;
  height: 20px;
}

/* .house {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/CSS Project Specification/assets/images/house.png");
  width: 100%;
  height: 100%;
  background-size: cover;
} */
