/* 
COLORS:
blue: rgb(127, 194, 247);
orange:rgb(243, 156, 18);
green: rgb(44, 221, 152);
pink: rgb(255, 79, 129);
dark blue: rgb(51, 105, 230);
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: MyCustomFont, Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: MyCustomFont;
  src: url(specs/assets/fonts/Roboto-Regular.ttf);
}

.container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.headerSpan {
  color: rgb(243, 156, 18);
  padding-left: 10px;
  border-top: 3px solid gray;
  border-left: 3px solid gray;
  border-bottom: 3px solid gray;
}

.headerSpan2 {
  color: gray;
}

.navDiv {
  background-color: rgb(127, 194, 247);
  width: 100%;
}

.navClass {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.navClass > p {
  color: white;
  text-align: center;
}

.prvaSlika {
  height: 300px;
  width: 100%;
}

.padding {
  padding: 20px;
}

.paddingMailUs {
  padding-top: 50px;
}

.paddingBot {
  padding-bottom: 40px;
}
.padding-helper {
  padding-bottom: 25px;
}

.paddingTop {
  padding-top: 30px;
}

.bckImage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("specs/assets/images/banner3.jpg");
  width: 100%;
  height: 250px;
  background-size: cover;
}

.bckImage2 {
  background-image: url("specs/assets/images/about.jpg");
  height: 250px;
  width: 100%;
  background-size: cover;
}

.bckImage div > p {
  font-size: 25px;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button1 {
  color: white;
  background-color: rgb(51, 105, 230);
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
}

.whoWeAre {
  font-size: 35px;
}

.whatPeopleSays {
  font-size: 35px;
}

.span-l {
  display: inline-block;
  border: 1px solid black;
  width: 50px;
  margin-right: 10px;
}

.span-m {
  display: inline-block;
  border: 2px solid black;
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
}

.span-r {
  display: inline-block;
  border: 1px solid black;
  width: 50px;
  margin-left: 10px;
}

.span-flex {
  display: flex;
  align-items: center;
}

article {
  padding-left: 30px;
  padding-right: 30px;
}

h3 {
  color: rgb(127, 194, 247);
  padding-bottom: 20px;
}

article > p {
  font-size: 13.5px;
  padding-bottom: 20px;
}

.article-font-size {
  font-size: 13.5px;
}

.article-f-col {
  color: grey;
}

.flex-article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* ------------------------ ZA KARTICE ----------------------------------------------------- */

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card {
  background-color: rgb(127, 194, 247);
  width: 85%;
  margin: 5px 0;
  padding: 15px;
  text-align: left;
}

.card-header {
  display: flex;
  align-items: center;
}

.profile-image {
  border: 2px solid white;
  padding: 2px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.card-info h3 {
  margin: 0;
}

.card-name-col {
  color: black;
  font-size: 13px;
}

.rating {
  color: white;
}

.card-text {
  color: white;
  padding-top: 10px;
}
/* ------------------------ ZA CONTACTS----------------------------------------------------- */

.padding-left-right {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.flex-dir-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 100%;
}

.contact {
  height: 200px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-head {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-head p {
  display: flex;
  align-items: center;
  color: white;
}

.house-img {
  height: 100%;
}

.contact-img {
  fill: white;
  filter: brightness(0) invert(1);
  text-align: center;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.social {
  display: flex;
  gap: 20px;
}

.col-box-1 {
  background-color: rgb(44, 221, 152);
}
.col-box-2 {
  background-color: rgb(255, 79, 129);
}
.col-box-3 {
  background-color: rgb(51, 105, 230);
}
.col-box-4 {
  background-color: rgb(127, 194, 247);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 80%;
  margin: auto;
}

.button {
  display: flex;
}

.footerCl {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-BG {
  background-color: rgb(97, 97, 97);
  padding: 50px;
}

a {
  color: white;
  text-decoration: none;
}

footer > p {
  margin-top: 25px;
  margin-bottom: 30px;
  color: white;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 15px;
}

textarea {
  height: 150px;
}

.button2 {
  color: white;
  border: none;
  width: 110px;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: rgb(243, 156, 18);
  border-radius: 1px;
}

html {
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 769px) {
  #header {
    position: absolute;
    left: 15px;
  }

  #navID {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .navClass {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: unset;
    padding: 1px;
  }

  .bckImage {
    height: 400px;
  }

  .navClass p {
    margin: 0;
  }

  .flex-article {
    width: calc(50% - 15px);
  }

  .text-and-photo > div:nth-child(3) {
    width: 100%;
  }

  .article-font-size {
    padding-bottom: 20px;
  }

  .bckImage2 {
    width: calc(50% - 15px);
    height: 300px;
  }

  .text-and-photo {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .card {
    height: 100%;
    width: 100%;
  }

  .headerSpan {
    color: rgb(243, 156, 18);
    padding-left: 10px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
  }

  .headerSpan2 {
    color: white;
  }
  /* ---------- */

  .input-group {
    display: flex;
    gap: 5px;
    width: 100%; /* Osiguraj da zauzmu punu sirinu */
  }

  .input-group input {
    flex: 1; /* Omogucava inputima da rastu i zauzmu jednaku sirinu */
    min-width: 150px;
  }

  textarea {
    width: 100%;
    margin-top: 10px;
  }

  input,
  textarea {
    padding: 8px;
    border: 1px solid black;
    margin-bottom: unset;
  }

  .button2 {
    margin-left: 2px;
  }

  .textareaCl {
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .text-and-photo > div:nth-child(3) {
    width: 30%;
  }

  .flex-article {
    width: calc(30% - 15px);
  }

  .bckImage2 {
    width: calc(30% - 15px);
    height: 300px;
  }

  .paddingTop {
    padding-top: 0;
  }

  .text-and-photo {
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  .card-container {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 60px;
    padding-right: 60px;
  }

  .contact-container {
    flex-wrap: unset;
    height: 100%;
  }
}
